/* IMPORTATION DU FONT-FAMILY : DANCING SCRIPT & NOTO SANS JAPANESE */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");

/* AFFECTATION DE VARIABLES  */
:root {
  --color-primary: #e6621c;
  --color-secondary: #538deb;
  --color-green: #295a29;
  --color-gray: #707070;
  --color-white: #f2fbff;
  --font-family-title: "Dancing Script", cursive;
  --font-family-text: "Noto Sans JP", sans-serif;
}

/* Reset Du Body  */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  font-size: 18px;
  font-family: var(--font-family-text);
}

/* STYLE // TAILLE DE LA POLICE DES TITRES  */
h1,
h2,
h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--font-family-title);
  color: var(--color-primary);
  margin-left: 10%;
  -webkit-text-stroke: medium;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
  text-align: center;
  -webkit-text-stroke: medium;
  border-bottom: 8px solid var(--color-secondary);
  width: 20%;
  margin: auto;
  padding-top: 15px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

strong {
  text-decoration: underline;
}

/* BARRE DE NAVIGATION  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.5vh;
  background-color: var(--color-primary);
}

#logo {
  width: 100px;
  border-radius: 50%;
  margin-left: 3rem;
}

nav ul {
  display: flex;
  margin-right: 3rem;
}

nav ul li {
  display: flex;
  margin: 0 10px;
}

nav ul li a {
  background-color: var(--color-white);
  text-decoration: none;
  color: var(--color-green);
  padding: 2px 7px;
}

nav ul li a:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* IMAGE BACKGROUND FIXED */
figure {
  margin: 0;
}

#bg-image1 {
  height: 87.5vh;
  min-height: 87.5vh;
  margin-right: auto;
  background-image: url(/ECF/public/image/image-bg1.jpg);
  background-attachment: fixed;
  background-size: 65%, contain;
  background-repeat: no-repeat;
  background-position: top right;
}

#bg-image2 {
  background-image: url(/ECF/public/image/image-bg2.jpg);
  background-attachment: fixed;
  background-size: 65%, contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 70vh;
  margin-right: auto;
}

/* PARTIE HAUT DE PAGE : PRÉSENTATION  */
#top-left {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
  background-color: var(--color-gray);
  height: 87.5vh;
}

#top-left h1 {
  padding-top: 15px;
  text-align: center;
  margin: auto;
}

#top-left p {
  margin: 0 10%;
  color: var(--color-white);
  letter-spacing: 2px;
}

/* DISCLAIMER, C'est important */
.disclaimer {
  display: block;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  margin: 15px auto;
  color: var(--color-primary);
  border: 5px outset var(--color-secondary);
  transition: 1s;
  font-weight: bold;
}

/* PARTIE : MILIEU DE PAGE : SUGGESTIONS */
#mid-right {
  position: absolute;
  width: 40%;
  margin-left: 60%;
  background-color: var(--color-gray);
  color: var(--color-white);
  height: 70vh;
}

#mid-right h2 {
  padding-top: 15px;
  text-align: center;
  margin: 10% auto;
}

#mid-right p {
  margin: 0px 10%;
  letter-spacing: 2px;
}

#info {
  display: block;
  text-align: right;
  margin-right: 2rem;
  margin-top:1rem;
  color: #1364a7;
  font-weight: 700;
}

#arrow {
  margin-left: 75%;
}

/* ARTICLES : SUGGESTIONS DE PLATS  */
#bgImg {
  background-image: url(/ECF/public/image/image-bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* // SPAN : DÉCORATION. EN BAS DU TITRE H3 */
.row {
  display: block;
  width: 250px;
  height: 7px;
  margin: 5px auto;
  background-color: var(--color-secondary);
  border-radius: 25px;
}

.row:nth-child(3){
  width: 100px;
  height: 6px;
}

/* BOÎTE QUI CONTIENDRA LE SCRIPT.JS */
 #content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  place-content: center;
 }

/* STYLISATION : SCRIPT.JS */
/* Boîte Pour les Image des plats */
.boxDish {
  margin:15px 5%;
}

/* Stylisation des Images API cliquables */
.imgDish {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(/ECF/public/image/click.jpg); */
  border: 1px solid var(--color-secondary);
  cursor: pointer;
}

.nameMeal {
  color: var(--color-secondary);
  width: 150px;
  text-align: center;
  margin: auto;
  display: block;
}

/* PARTIE : FOOTER  */
footer {
  background-color: var(--color-primary);
  padding-top: 5px;
  margin-top: 5px;
}

footer h2 {
  color: var(--color-green);
  background-color: var(--color-white);
  margin: 10px auto;
  text-align: center;
  width: 25%;
}

footer h3 {
  width: auto;
  color: var(--color-white);
  border: none;
  text-decoration: 3px underline;
}

footer section {
  display: flex;
  justify-content: space-around;
}

/* PARTIE INFORMATIONS  */
#footer-left {
  background-color: var(--color-green);
  width: 35%;
  padding-bottom: 15px;
  border-radius: 35% 5% 35% 5%;
}

#footer-left img {
  margin: 10px 10px auto;
  vertical-align: bottom;
}

#footer-left span {
  color: var(--color-white);
  margin-left: 15%;
  font-size: 16px;
}

#separator {
  width: 1px;
  height: auto;
  background-color: var(--color-white);
}

/* PARTIE : CREDITS  */
#footer-right {
  width: 35%;
  background-color: var(--color-green);
  border-radius: 5% 35% 5% 35%;
}

#footer-right a {
  color: var(--color-primary);
}

#footer-right span {
  color: var(--color-white);
  margin-left: 15%;
  font-size: 16px;
}

h5 {
  text-align: center;
  margin: 0;
  color: var(--color-white);
}

h5 a {
  color: var(--color-green);
  font-weight: 700;
}

#social {
  margin: auto;
  text-align: center;
}

/* PARTIE : MODALE  */
#modal {
  border: none;
  width: 90vw;
  height: 90vh;
  margin: auto;
  text-align: -webkit-center;
  background-color: var(--color-white);
  border-radius: 15px;
  background-image: url(/ECF/public/image/modal-bg1.png);
  background-size: cover;
  animation: modal 0.9s ease;
}

@keyframes modal {
  from {
    transform: translate(-0%, -25%);
  }
  to {
    transform: translate(0%);
  }
}

#modal::backdrop {
  background-color: var(--color-primary);
  opacity: 30%;
  border: none;
}

/* Boîte Principal :à l'intérieur de la fenêtre modale */
#contentMeal {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Titre du Plat : Modale  */
.modalNameMeal {
  color: #707070;
  text-decoration: underline;
  margin-bottom: 15px;
  background-color: var(--color-white);
  border-radius: 15px;
  width: 100%;
}

/* Boîte Gauche de la Modale  */
#modal-left {
  background-color: var(--color-white);
  width: 45%;
  height: 80vh;
  overflow-y: scroll;
  opacity: 80%;

}

/* Origine Du plat  */
#from {
  text-align: center;
  color: var(--color-primary);
}

/* Instructions du plat  */
.description {
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-gray);
}

/* Boîte Droite de la Modale  */
#modal-right {
  background-color: var(--color-white);
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/ECF/public/image/ingredients-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#modal-right h4 {
  font-size: 16px;
  color: var(--color-primary);
}

/* // Ingrédients + Dosages */
.ingredient {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: var(--color-gray);
  line-height: 18px;
}

.measure {
  color: var(--color-secondary);
}

/* Boîte pour la Partie : "Youtube" */
.modalVideo {
  height: 15vh;
  width: 100%;
  background-color: red;
}

#textModalVideo {
  margin-bottom: 1rem;
  font-size: 14px;
  color: var(--color-white);
}

/* // Lien de Redirection, Si Link existant  */
#link {
  text-decoration: none;
  color: red;
  border-radius: px;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

#link:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
  border: 1px solid var(--color-white);
}

#logoYT {
  margin-right: 15px;
  vertical-align: text-bottom;
}

/* // Fermeture de la Modale : Boutton */
.closeModal {
  background-image: url(/ECF/public/image/close.png);
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

/* Paramètres pour le responsiv */
@media screen and (max-width:1024px) {
  #bg-image1 {
    background-size: 100%, contain;
    height: 85vh;
    min-height: 85vh;
  }

  #top-left {
    width: 50%;
    height: 85vh;
  }

  #info {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
  }

  #arrow {
    margin-left: 45%;
  }

  .boxDish figure p {
    margin: 0;
  }

  /* Partie Modal : Responsive */
  #contentMeal {
    flex-flow: column nowrap;
  }

  #modal-left {
    margin: auto;
    width: 100%;
    z-index: 1;
  }

  #modal-right {
    width: 100%;
    margin-top: 1rem;
  }

@media screen and (max-width:768px) {
  nav {
    height: 10vh;
  }

  #logo {
    width: 85px;
  }

  #bg-image1 {
    background-size: 100%, contain;
    height: 60vh;
    min-height: 20vh;
  }

  #bg-image2 {
    height: 70vh;
    min-height: 70vh;
    margin-right: auto;
    background-size: 100%, contain;
  }

  #top-left {
    width: 50%;
    height: 60vh;
  }

  #top-left h1 {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0;
  }

  #top-left p {
    letter-spacing: 0;
    margin:0px 1rem;
  }

  #mid-right h2 {
    padding: 0;
    margin: 1rem auto;
    font-size: 18px;
  }

  #mid-right p {
    margin: 0px 1rem;
    letter-spacing: 0;
  }

  #arrow {
  display: block;
  margin: auto;
  }

  .disclaimer {
    margin: auto;
    font-size: 16px;
  }

  #content {
  width: 100%;
  }

  #contact {
    font-size: 18px;
  }

  footer h3 {
    font-size: 16px;
  }

  #footer-left {
    width: 45%;
  }

  #footer-right {
    width: 45%;
  }

  h5 {
    font-size: 14px;
  }

  .imgDish {
    margin-top: 20%;
    background-size: cover;
  }
}








