/* Responsive Pour Format Petit écran  */
nav {
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  height: 15vh;
  position: absolute;
  width: 35%;
  place-content: center;
  background: center;
  border-radius: 50%;
}

figure:nth-child(2n) {
  background-color: var(--color-primary);
}

#nav-mobile {
  /* display: none; */
  width: 5%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 2s;
  translate: 200%;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  margin: 2px;
  width: 100px;
  font-size: 14px;
  text-align: left;
  background-color: var(--color-white);
  color: var(--color-primary);
}

#logo {
  margin: 0;
  border-right: 5px groove var(--color-primary);
  cursor: pointer;
}

#top-page {
  display: flex;
  flex-direction: column-reverse;
}

#top-left {
  position:relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
  margin: 1rem auto;
}

#bg-image1 {
  /* position: relative; */
  /* top: 150px; */
  background-attachment: fixed;
  height: auto;
  min-height: 20vh;
  background-size: 100%, cover;
}

#top-left h1 {
  margin: 1rem auto;
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  place-self: center;
}

#top-left p {
  font-size: 16px;
}

.disclaimer {
  margin: 1rem auto;
  width: 100%;
  border: 0;
  background-color: var(--color-secondary);
}

#mid-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  flex-direction: column;
  height: auto;
}

#bg-image2 {
  /* position: relative; */
  height: auto;
  min-height: 18vh;
}

#mid-right p {
  font-size: 16px;
}

#info {
  margin: 0 auto;
}

#arrow {
  display: block;
  margin: auto;
}

.boxDish p {
  font-size: 14px;
}

.imgDish {
  width: 95vw;
  background-size: cover;
  height: 20vh;
  margin-top: 0;
}

.nameMeal {
  width: 100%;
  font-size: 16px;
}

footer section {
  flex-direction: column;
}

footer h3 {
  font-size: 15px;
  margin-left: 1rem;
  /* letter-spacing: 0; */
  /* font-weight: 400; */
}

#contact {
  width: 100%;
  font-size: 16px;
}

#footer-left {
  width: 100%;
  border-radius: 0;
  text-align: center;
}

#footer-left span {
  margin: 0;
}

#footer-right {
  width: 100%;
  border-radius: 0;
  margin: 0.5rem auto;
  text-align: center;
}

#footer-right span {
  margin: 0;
}

h5 {
  background-color: var(--color-white);
  color: var(--color-gray);
}

#textModalVideo {
  display: table-column;
}